In [1]:
import pandas as pd

In [2]:
train = pd.read_excel('철도이용객data1.xls')

In [5]:
train.reset_index()

,index,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,201901월,201902월,201903월,201904월,201905월,201906월,201907월,201908월,...,202008월,202009월,202010월,202011월,202012월,202101월,202102월,202103월,202104월,202105월
2,2,고속철도 여객수 계,"6,929","6,942","7,188","7,247","7,733","7,294","7,290","7,656",...,"5,186","3,812","5,241","5,487","3,567","3,640","4,213","5,205","5,370","6,913"
3,3,KTX이용률,86,96,90,95,98,94,93,96,...,63,46,63,69,44,45,56,62,65,70
4,4,SRT이용률,113,116,113,117,119,118,117,119,...,92,74,96,103,66,61,80,97,102,106
5,5,경부선 KTX여객수,"2,822","2,857","2,906","2,951","3,148","2,943","2,929","3,088",...,"1,948","1,370","1,909","2,039","1,303","1,372","1,567","1,846","1,893","2,102"
6,6,경부선 KTX이용률,89,98,91,97,99,95,93,97,...,61,45,60,67,42,43,54,59,62,66
7,7,경부선 SRT여객수,"1,366","1,297","1,403","1,372","1,446","1,396","1,410","1,446",...,"1,096",846,"1,107","1,152",737,709,883,"1,165","1,189","1,293"
8,8,경부선 SRT이용률,121,123,121,125,127,125,126,127,...,99,79,102,111,69,64,85,103,108,113
9,9,호남선 KTX여객수,805,848,865,887,955,895,883,930,...,599,446,629,645,435,458,498,606,638,701
10,10,호남선 KTX이용률,68,79,74,79,82,79,76,79,...,52,41,56,60,39,41,54,59,62,66
11,11,호남선 SRT여객수,488,461,493,497,526,503,515,525,...,403,317,430,441,299,288,345,458,473,508
12,12,호남선 SRT이용률,95,100,96,101,103,102,101,103,...,78,64,84,89,58,56,70,84,90,94
13,13,경전선 KTX여객수,499,506,535,543,570,531,536,554,...,382,289,404,415,274,281,315,387,402,437
14,14,경전선 KTX이용률,97,107,103,109,110,106,104,107,...,71,55,74,80,51,52,64,73,77,81
15,15,전라선 KTX여객수,533,550,561,568,623,576,564,618,...,424,306,439,450,286,294,343,421,440,495
16,16,전라선 KTX이용률,93,104,97,102,108,102,99,107,...,73,52,72,77,48,48,62,70,75,82
17,17,동해선 KTX여객수,416,423,425,429,465,450,453,495,...,334,238,323,345,233,238,272,322,335,375
18,18,동해선 KTX이용률,95,107,97,102,107,106,116,114,...,76,56,73,81,53,54,69,73,79,85
19,19,출처:,"한국철도공사 및 (주)SR에서 제공하는「KTX, SRT 여객 수송 통계」",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
train.drop([0,19])

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
1,NaN,201901월,201902월,201903월,201904월,201905월,201906월,201907월,201908월,201909월,...,202008월,202009월,202010월,202011월,202012월,202101월,202102월,202103월,202104월,202105월
2,고속철도 여객수 계,"6,929","6,942","7,188","7,247","7,733","7,294","7,290","7,656","7,379",...,"5,186","3,812","5,241","5,487","3,567","3,640","4,213","5,205","5,370","6,913"
3,KTX이용률,86,96,90,95,98,94,93,96,95,...,63,46,63,69,44,45,56,62,65,70
4,SRT이용률,113,116,113,117,119,118,117,119,117,...,92,74,96,103,66,61,80,97,102,106
5,경부선 KTX여객수,"2,822","2,857","2,906","2,951","3,148","2,943","2,929","3,088","2,931",...,"1,948","1,370","1,909","2,039","1,303","1,372","1,567","1,846","1,893","2,102"
6,경부선 KTX이용률,89,98,91,97,99,95,93,97,94,...,61,45,60,67,42,43,54,59,62,66
7,경부선 SRT여객수,"1,366","1,297","1,403","1,372","1,446","1,396","1,410","1,446","1,393",...,"1,096",846,"1,107","1,152",737,709,883,"1,165","1,189","1,293"
8,경부선 SRT이용률,121,123,121,125,127,125,126,127,124,...,99,79,102,111,69,64,85,103,108,113
9,호남선 KTX여객수,805,848,865,887,955,895,883,930,932,...,599,446,629,645,435,458,498,606,638,701
10,호남선 KTX이용률,68,79,74,79,82,79,76,79,82,...,52,41,56,60,39,41,54,59,62,66
11,호남선 SRT여객수,488,461,493,497,526,503,515,525,520,...,403,317,430,441,299,288,345,458,473,508
12,호남선 SRT이용률,95,100,96,101,103,102,101,103,105,...,78,64,84,89,58,56,70,84,90,94
13,경전선 KTX여객수,499,506,535,543,570,531,536,554,558,...,382,289,404,415,274,281,315,387,402,437
14,경전선 KTX이용률,97,107,103,109,110,106,104,107,109,...,71,55,74,80,51,52,64,73,77,81
15,전라선 KTX여객수,533,550,561,568,623,576,564,618,575,...,424,306,439,450,286,294,343,421,440,495
16,전라선 KTX이용률,93,104,97,102,108,102,99,107,102,...,73,52,72,77,48,48,62,70,75,82
17,동해선 KTX여객수,416,423,425,429,465,450,453,495,470,...,334,238,323,345,233,238,272,322,335,375
18,동해선 KTX이용률,95,107,97,102,107,106,116,114,109,...,76,56,73,81,53,54,69,73,79,85

In [8]:
train.loc[1][0]="월별"

In [11]:
train.drop([0,19])

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
1,월별,201901월,201902월,201903월,201904월,201905월,201906월,201907월,201908월,201909월,...,202008월,202009월,202010월,202011월,202012월,202101월,202102월,202103월,202104월,202105월
2,고속철도 여객수 계,"6,929","6,942","7,188","7,247","7,733","7,294","7,290","7,656","7,379",...,"5,186","3,812","5,241","5,487","3,567","3,640","4,213","5,205","5,370","6,913"
3,KTX이용률,86,96,90,95,98,94,93,96,95,...,63,46,63,69,44,45,56,62,65,70
4,SRT이용률,113,116,113,117,119,118,117,119,117,...,92,74,96,103,66,61,80,97,102,106
5,경부선 KTX여객수,"2,822","2,857","2,906","2,951","3,148","2,943","2,929","3,088","2,931",...,"1,948","1,370","1,909","2,039","1,303","1,372","1,567","1,846","1,893","2,102"
6,경부선 KTX이용률,89,98,91,97,99,95,93,97,94,...,61,45,60,67,42,43,54,59,62,66
7,경부선 SRT여객수,"1,366","1,297","1,403","1,372","1,446","1,396","1,410","1,446","1,393",...,"1,096",846,"1,107","1,152",737,709,883,"1,165","1,189","1,293"
8,경부선 SRT이용률,121,123,121,125,127,125,126,127,124,...,99,79,102,111,69,64,85,103,108,113
9,호남선 KTX여객수,805,848,865,887,955,895,883,930,932,...,599,446,629,645,435,458,498,606,638,701
10,호남선 KTX이용률,68,79,74,79,82,79,76,79,82,...,52,41,56,60,39,41,54,59,62,66
11,호남선 SRT여객수,488,461,493,497,526,503,515,525,520,...,403,317,430,441,299,288,345,458,473,508
12,호남선 SRT이용률,95,100,96,101,103,102,101,103,105,...,78,64,84,89,58,56,70,84,90,94
13,경전선 KTX여객수,499,506,535,543,570,531,536,554,558,...,382,289,404,415,274,281,315,387,402,437
14,경전선 KTX이용률,97,107,103,109,110,106,104,107,109,...,71,55,74,80,51,52,64,73,77,81
15,전라선 KTX여객수,533,550,561,568,623,576,564,618,575,...,424,306,439,450,286,294,343,421,440,495
16,전라선 KTX이용률,93,104,97,102,108,102,99,107,102,...,73,52,72,77,48,48,62,70,75,82
17,동해선 KTX여객수,416,423,425,429,465,450,453,495,470,...,334,238,323,345,233,238,272,322,335,375
18,동해선 KTX이용률,95,107,97,102,107,106,116,114,109,...,76,56,73,81,53,54,69,73,79,85

In [13]:
train = train.drop([0,19])

In [15]:
train.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
1,월별,201901월,201902월,201903월,201904월,201905월,201906월,201907월,201908월,201909월,...,202008월,202009월,202010월,202011월,202012월,202101월,202102월,202103월,202104월,202105월
2,고속철도 여객수 계,"6,929","6,942","7,188","7,247","7,733","7,294","7,290","7,656","7,379",...,"5,186","3,812","5,241","5,487","3,567","3,640","4,213","5,205","5,370","6,913"
3,KTX이용률,86,96,90,95,98,94,93,96,95,...,63,46,63,69,44,45,56,62,65,70
4,SRT이용률,113,116,113,117,119,118,117,119,117,...,92,74,96,103,66,61,80,97,102,106
5,경부선 KTX여객수,"2,822","2,857","2,906","2,951","3,148","2,943","2,929","3,088","2,931",...,"1,948","1,370","1,909","2,039","1,303","1,372","1,567","1,846","1,893","2,102"

In [18]:
train.to_csv('철도data.csv')

In [19]:
train

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
1,월별,201901월,201902월,201903월,201904월,201905월,201906월,201907월,201908월,201909월,...,202008월,202009월,202010월,202011월,202012월,202101월,202102월,202103월,202104월,202105월
2,고속철도 여객수 계,"6,929","6,942","7,188","7,247","7,733","7,294","7,290","7,656","7,379",...,"5,186","3,812","5,241","5,487","3,567","3,640","4,213","5,205","5,370","6,913"
3,KTX이용률,86,96,90,95,98,94,93,96,95,...,63,46,63,69,44,45,56,62,65,70
4,SRT이용률,113,116,113,117,119,118,117,119,117,...,92,74,96,103,66,61,80,97,102,106
5,경부선 KTX여객수,"2,822","2,857","2,906","2,951","3,148","2,943","2,929","3,088","2,931",...,"1,948","1,370","1,909","2,039","1,303","1,372","1,567","1,846","1,893","2,102"
6,경부선 KTX이용률,89,98,91,97,99,95,93,97,94,...,61,45,60,67,42,43,54,59,62,66
7,경부선 SRT여객수,"1,366","1,297","1,403","1,372","1,446","1,396","1,410","1,446","1,393",...,"1,096",846,"1,107","1,152",737,709,883,"1,165","1,189","1,293"
8,경부선 SRT이용률,121,123,121,125,127,125,126,127,124,...,99,79,102,111,69,64,85,103,108,113
9,호남선 KTX여객수,805,848,865,887,955,895,883,930,932,...,599,446,629,645,435,458,498,606,638,701
10,호남선 KTX이용률,68,79,74,79,82,79,76,79,82,...,52,41,56,60,39,41,54,59,62,66
11,호남선 SRT여객수,488,461,493,497,526,503,515,525,520,...,403,317,430,441,299,288,345,458,473,508
12,호남선 SRT이용률,95,100,96,101,103,102,101,103,105,...,78,64,84,89,58,56,70,84,90,94
13,경전선 KTX여객수,499,506,535,543,570,531,536,554,558,...,382,289,404,415,274,281,315,387,402,437
14,경전선 KTX이용률,97,107,103,109,110,106,104,107,109,...,71,55,74,80,51,52,64,73,77,81
15,전라선 KTX여객수,533,550,561,568,623,576,564,618,575,...,424,306,439,450,286,294,343,421,440,495
16,전라선 KTX이용률,93,104,97,102,108,102,99,107,102,...,73,52,72,77,48,48,62,70,75,82
17,동해선 KTX여객수,416,423,425,429,465,450,453,495,470,...,334,238,323,345,233,238,272,322,335,375
18,동해선 KTX이용률,95,107,97,102,107,106,116,114,109,...,76,56,73,81,53,54,69,73,79,85

In [20]:
train = train.transpose()

In [37]:
train.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
Unnamed: 0,월별,고속철도 여객수 계,KTX이용률,SRT이용률,경부선 KTX여객수,경부선 KTX이용률,경부선 SRT여객수,경부선 SRT이용률,호남선 KTX여객수,호남선 KTX이용률,호남선 SRT여객수,호남선 SRT이용률,경전선 KTX여객수,경전선 KTX이용률,전라선 KTX여객수,전라선 KTX이용률,동해선 KTX여객수,동해선 KTX이용률
Unnamed: 1,201901월,"6,929",86,113,"2,822",89,"1,366",121,805,68,488,95,499,97,533,93,416,95
Unnamed: 2,201902월,"6,942",96,116,"2,857",98,"1,297",123,848,79,461,100,506,107,550,104,423,107
Unnamed: 3,201903월,"7,188",90,113,"2,906",91,"1,403",121,865,74,493,96,535,103,561,97,425,97
Unnamed: 4,201904월,"7,247",95,117,"2,951",97,"1,372",125,887,79,497,101,543,109,568,102,429,102

In [48]:
train = train.reset_index(drop=True)

In [49]:
train.transpose()

              0        1        2        3        4
1            월별  201901월  201902월  201903월  201904월
2    고속철도 여객수 계    6,929    6,942    7,188    7,247
3        KTX이용률       86       96       90       95
4        SRT이용률      113      116      113      117
5    경부선 KTX여객수    2,822    2,857    2,906    2,951
6    경부선 KTX이용률       89       98       91       97
7    경부선 SRT여객수    1,366    1,297    1,403    1,372
8    경부선 SRT이용률      121      123      121      125
9    호남선 KTX여객수      805      848      865      887
10   호남선 KTX이용률       68       79       74       79
11   호남선 SRT여객수      488      461      493      497
12   호남선 SRT이용률       95      100       96      101
13   경전선 KTX여객수      499      506      535      543
14  경전선  KTX이용률       97      107      103      109
15   전라선 KTX여객수      533      550      561      568
16   전라선 KTX이용률       93      104       97      102
17   동해선 KTX여객수      416      423      425      429
18   동해선 KTX이용률       95      107       97      102