In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_excel('철도이용객data.xls')
train

,통계표명:,고속철도 여객 수송동향,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,단위:,"천명, %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,201901월,201902월,201903월,201904월,201905월,201906월,201907월,201908월,201909월,...,202008월,202009월,202010월,202011월,202012월,202101월,202102월,202103월,202104월,202105월
2,고속철도 여객수 계,"6,929","6,942","7,188","7,247","7,733","7,294","7,290","7,656","7,379",...,"5,186","3,812","5,241","5,487","3,567","3,640","4,213","5,205","5,370","6,913"
3,KTX이용률,86,96,90,95,98,94,93,96,95,...,63,46,63,69,44,45,56,62,65,70
4,SRT이용률,113,116,113,117,119,118,117,119,117,...,92,74,96,103,66,61,80,97,102,106
5,경부선 KTX여객수,"2,822","2,857","2,906","2,951","3,148","2,943","2,929","3,088","2,931",...,"1,948","1,370","1,909","2,039","1,303","1,372","1,567","1,846","1,893","2,102"
6,경부선 KTX이용률,89,98,91,97,99,95,93,97,94,...,61,45,60,67,42,43,54,59,62,66
7,경부선 SRT여객수,"1,366","1,297","1,403","1,372","1,446","1,396","1,410","1,446","1,393",...,"1,096",846,"1,107","1,152",737,709,883,"1,165","1,189","1,293"
8,경부선 SRT이용률,121,123,121,125,127,125,126,127,124,...,99,79,102,111,69,64,85,103,108,113
9,호남선 KTX여객수,805,848,865,887,955,895,883,930,932,...,599,446,629,645,435,458,498,606,638,701
10,호남선 KTX이용률,68,79,74,79,82,79,76,79,82,...,52,41,56,60,39,41,54,59,62,66
11,호남선 SRT여객수,488,461,493,497,526,503,515,525,520,...,403,317,430,441,299,288,345,458,473,508
12,호남선 SRT이용률,95,100,96,101,103,102,101,103,105,...,78,64,84,89,58,56,70,84,90,94
13,경전선 KTX여객수,499,506,535,543,570,531,536,554,558,...,382,289,404,415,274,281,315,387,402,437
14,경전선 KTX이용률,97,107,103,109,110,106,104,107,109,...,71,55,74,80,51,52,64,73,77,81
15,전라선 KTX여객수,533,550,561,568,623,576,564,618,575,...,424,306,439,450,286,294,343,421,440,495
16,전라선 KTX이용률,93,104,97,102,108,102,99,107,102,...,73,52,72,77,48,48,62,70,75,82
17,동해선 KTX여객수,416,423,425,429,465,450,453,495,470,...,334,238,323,345,233,238,272,322,335,375
18,동해선 KTX이용률,95,107,97,102,107,106,116,114,109,...,76,56,73,81,53,54,69,73,79,85
19,출처:,"한국철도공사 및 (주)SR에서 제공하는「KTX, SRT 여객 수송 통계」",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
train.reset_index()

,index,통계표명:,고속철도 여객 수송동향,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,0,단위:,"천명, %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,201901월,201902월,201903월,201904월,201905월,201906월,201907월,201908월,...,202008월,202009월,202010월,202011월,202012월,202101월,202102월,202103월,202104월,202105월
2,2,고속철도 여객수 계,"6,929","6,942","7,188","7,247","7,733","7,294","7,290","7,656",...,"5,186","3,812","5,241","5,487","3,567","3,640","4,213","5,205","5,370","6,913"
3,3,KTX이용률,86,96,90,95,98,94,93,96,...,63,46,63,69,44,45,56,62,65,70
4,4,SRT이용률,113,116,113,117,119,118,117,119,...,92,74,96,103,66,61,80,97,102,106
5,5,경부선 KTX여객수,"2,822","2,857","2,906","2,951","3,148","2,943","2,929","3,088",...,"1,948","1,370","1,909","2,039","1,303","1,372","1,567","1,846","1,893","2,102"
6,6,경부선 KTX이용률,89,98,91,97,99,95,93,97,...,61,45,60,67,42,43,54,59,62,66
7,7,경부선 SRT여객수,"1,366","1,297","1,403","1,372","1,446","1,396","1,410","1,446",...,"1,096",846,"1,107","1,152",737,709,883,"1,165","1,189","1,293"
8,8,경부선 SRT이용률,121,123,121,125,127,125,126,127,...,99,79,102,111,69,64,85,103,108,113
9,9,호남선 KTX여객수,805,848,865,887,955,895,883,930,...,599,446,629,645,435,458,498,606,638,701
10,10,호남선 KTX이용률,68,79,74,79,82,79,76,79,...,52,41,56,60,39,41,54,59,62,66
11,11,호남선 SRT여객수,488,461,493,497,526,503,515,525,...,403,317,430,441,299,288,345,458,473,508
12,12,호남선 SRT이용률,95,100,96,101,103,102,101,103,...,78,64,84,89,58,56,70,84,90,94
13,13,경전선 KTX여객수,499,506,535,543,570,531,536,554,...,382,289,404,415,274,281,315,387,402,437
14,14,경전선 KTX이용률,97,107,103,109,110,106,104,107,...,71,55,74,80,51,52,64,73,77,81
15,15,전라선 KTX여객수,533,550,561,568,623,576,564,618,...,424,306,439,450,286,294,343,421,440,495
16,16,전라선 KTX이용률,93,104,97,102,108,102,99,107,...,73,52,72,77,48,48,62,70,75,82
17,17,동해선 KTX여객수,416,423,425,429,465,450,453,495,...,334,238,323,345,233,238,272,322,335,375
18,18,동해선 KTX이용률,95,107,97,102,107,106,116,114,...,76,56,73,81,53,54,69,73,79,85
19,19,출처:,"한국철도공사 및 (주)SR에서 제공하는「KTX, SRT 여객 수송 통계」",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
train.drop([0,19])

,통계표명:,고속철도 여객 수송동향,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
1,NaN,201901월,201902월,201903월,201904월,201905월,201906월,201907월,201908월,201909월,...,202008월,202009월,202010월,202011월,202012월,202101월,202102월,202103월,202104월,202105월
2,고속철도 여객수 계,"6,929","6,942","7,188","7,247","7,733","7,294","7,290","7,656","7,379",...,"5,186","3,812","5,241","5,487","3,567","3,640","4,213","5,205","5,370","6,913"
3,KTX이용률,86,96,90,95,98,94,93,96,95,...,63,46,63,69,44,45,56,62,65,70
4,SRT이용률,113,116,113,117,119,118,117,119,117,...,92,74,96,103,66,61,80,97,102,106
5,경부선 KTX여객수,"2,822","2,857","2,906","2,951","3,148","2,943","2,929","3,088","2,931",...,"1,948","1,370","1,909","2,039","1,303","1,372","1,567","1,846","1,893","2,102"
6,경부선 KTX이용률,89,98,91,97,99,95,93,97,94,...,61,45,60,67,42,43,54,59,62,66
7,경부선 SRT여객수,"1,366","1,297","1,403","1,372","1,446","1,396","1,410","1,446","1,393",...,"1,096",846,"1,107","1,152",737,709,883,"1,165","1,189","1,293"
8,경부선 SRT이용률,121,123,121,125,127,125,126,127,124,...,99,79,102,111,69,64,85,103,108,113
9,호남선 KTX여객수,805,848,865,887,955,895,883,930,932,...,599,446,629,645,435,458,498,606,638,701
10,호남선 KTX이용률,68,79,74,79,82,79,76,79,82,...,52,41,56,60,39,41,54,59,62,66
11,호남선 SRT여객수,488,461,493,497,526,503,515,525,520,...,403,317,430,441,299,288,345,458,473,508
12,호남선 SRT이용률,95,100,96,101,103,102,101,103,105,...,78,64,84,89,58,56,70,84,90,94
13,경전선 KTX여객수,499,506,535,543,570,531,536,554,558,...,382,289,404,415,274,281,315,387,402,437
14,경전선 KTX이용률,97,107,103,109,110,106,104,107,109,...,71,55,74,80,51,52,64,73,77,81
15,전라선 KTX여객수,533,550,561,568,623,576,564,618,575,...,424,306,439,450,286,294,343,421,440,495
16,전라선 KTX이용률,93,104,97,102,108,102,99,107,102,...,73,52,72,77,48,48,62,70,75,82
17,동해선 KTX여객수,416,423,425,429,465,450,453,495,470,...,334,238,323,345,233,238,272,322,335,375
18,동해선 KTX이용률,95,107,97,102,107,106,116,114,109,...,76,56,73,81,53,54,69,73,79,85

In [5]:
train.loc[1][0]='월별'

In [7]:
train.drop([0,19])

,통계표명:,고속철도 여객 수송동향,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
1,월별,201901월,201902월,201903월,201904월,201905월,201906월,201907월,201908월,201909월,...,202008월,202009월,202010월,202011월,202012월,202101월,202102월,202103월,202104월,202105월
2,고속철도 여객수 계,"6,929","6,942","7,188","7,247","7,733","7,294","7,290","7,656","7,379",...,"5,186","3,812","5,241","5,487","3,567","3,640","4,213","5,205","5,370","6,913"
3,KTX이용률,86,96,90,95,98,94,93,96,95,...,63,46,63,69,44,45,56,62,65,70
4,SRT이용률,113,116,113,117,119,118,117,119,117,...,92,74,96,103,66,61,80,97,102,106
5,경부선 KTX여객수,"2,822","2,857","2,906","2,951","3,148","2,943","2,929","3,088","2,931",...,"1,948","1,370","1,909","2,039","1,303","1,372","1,567","1,846","1,893","2,102"
6,경부선 KTX이용률,89,98,91,97,99,95,93,97,94,...,61,45,60,67,42,43,54,59,62,66
7,경부선 SRT여객수,"1,366","1,297","1,403","1,372","1,446","1,396","1,410","1,446","1,393",...,"1,096",846,"1,107","1,152",737,709,883,"1,165","1,189","1,293"
8,경부선 SRT이용률,121,123,121,125,127,125,126,127,124,...,99,79,102,111,69,64,85,103,108,113
9,호남선 KTX여객수,805,848,865,887,955,895,883,930,932,...,599,446,629,645,435,458,498,606,638,701
10,호남선 KTX이용률,68,79,74,79,82,79,76,79,82,...,52,41,56,60,39,41,54,59,62,66
11,호남선 SRT여객수,488,461,493,497,526,503,515,525,520,...,403,317,430,441,299,288,345,458,473,508
12,호남선 SRT이용률,95,100,96,101,103,102,101,103,105,...,78,64,84,89,58,56,70,84,90,94
13,경전선 KTX여객수,499,506,535,543,570,531,536,554,558,...,382,289,404,415,274,281,315,387,402,437
14,경전선 KTX이용률,97,107,103,109,110,106,104,107,109,...,71,55,74,80,51,52,64,73,77,81
15,전라선 KTX여객수,533,550,561,568,623,576,564,618,575,...,424,306,439,450,286,294,343,421,440,495
16,전라선 KTX이용률,93,104,97,102,108,102,99,107,102,...,73,52,72,77,48,48,62,70,75,82
17,동해선 KTX여객수,416,423,425,429,465,450,453,495,470,...,334,238,323,345,233,238,272,322,335,375
18,동해선 KTX이용률,95,107,97,102,107,106,116,114,109,...,76,56,73,81,53,54,69,73,79,85

In [8]:
train.transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
통계표명:,단위:,월별,고속철도 여객수 계,KTX이용률,SRT이용률,경부선 KTX여객수,경부선 KTX이용률,경부선 SRT여객수,경부선 SRT이용률,호남선 KTX여객수,호남선 KTX이용률,호남선 SRT여객수,호남선 SRT이용률,경전선 KTX여객수,경전선 KTX이용률,전라선 KTX여객수,전라선 KTX이용률,동해선 KTX여객수,동해선 KTX이용률,출처:
고속철도 여객 수송동향,"천명, %",201901월,"6,929",86,113,"2,822",89,"1,366",121,805,68,488,95,499,97,533,93,416,95,"한국철도공사 및 (주)SR에서 제공하는「KTX, SRT 여객 수송 통계」"
Unnamed: 2,NaN,201902월,"6,942",96,116,"2,857",98,"1,297",123,848,79,461,100,506,107,550,104,423,107,NaN
Unnamed: 3,NaN,201903월,"7,188",90,113,"2,906",91,"1,403",121,865,74,493,96,535,103,561,97,425,97,NaN
Unnamed: 4,NaN,201904월,"7,247",95,117,"2,951",97,"1,372",125,887,79,497,101,543,109,568,102,429,102,NaN
Unnamed: 5,NaN,201905월,"7,733",98,119,"3,148",99,"1,446",127,955,82,526,103,570,110,623,108,465,107,NaN
Unnamed: 6,NaN,201906월,"7,294",94,118,"2,943",95,"1,396",125,895,79,503,102,531,106,576,102,450,106,NaN
Unnamed: 7,NaN,201907월,"7,290",93,117,"2,929",93,"1,410",126,883,76,515,101,536,104,564,99,453,116,NaN
Unnamed: 8,NaN,201908월,"7,656",96,119,"3,088",97,"1,446",127,930,79,525,103,554,107,618,107,495,114,NaN
Unnamed: 9,NaN,201909월,"7,379",95,117,"2,931",94,"1,393",124,932,82,520,105,558,109,575,102,470,109,NaN
Unnamed: 10,NaN,201910월,"7,819",98,125,"3,095",98,"1,504",133,954,84,563,110,584,109,622,107,497,110,NaN
Unnamed: 11,NaN,201911월,"7,873",107,129,"3,106",107,"1,529",136,964,92,567,114,588,120,607,114,512,121,NaN
Unnamed: 12,NaN,201912월,"8,070",101,126,"3,228",101,"1,532",134,965,84,571,111,612,114,631,109,531,118,NaN
Unnamed: 13,NaN,202001월,"7,676",96,118,"3,055",95,"1,449",125,937,82,540,105,589,108,612,105,494,111,NaN
Unnamed: 14,NaN,202002월,"4,467",58,85,"1,656",56,944,89,537,51,365,76,373,65,330,69,262,64,NaN
Unnamed: 15,NaN,202003월,"2,402",29,47,802,26,476,46,357,32,252,49,167,31,224,39,124,29,NaN
Unnamed: 16,NaN,202004월,"3,411",43,69,"1,169",40,739,71,455,42,314,64,247,48,292,54,196,47,NaN
Unnamed: 17,NaN,202005월,"4,955",61,91,"1,737",57,"1,067",95,633,56,426,83,374,70,422,74,297,69,NaN
Unnamed: 18,NaN,202006월,"5,001",63,95,"1,806",60,"1,083",101,609,56,417,84,374,73,403,73,309,73,NaN
Unnamed: 19,NaN,202007월,"5,557",67,100,"2,095",67,"1,214",109,607,53,420,81,424,79,444,77,353,81,NaN
Unnamed: 20,NaN,202008월,"5,186",63,92,"1,948",61,"1,096",99,599,52,403,78,382,71,424,73,334,76,NaN
Unnamed: 21,NaN,202009월,"3,812",46,74,"1,370",45,846,79,446,41,317,64,289,55,306,52,238,56,NaN
Unnamed: 22,NaN,202010월,"5,241",63,96,"1,909",60,"1,107",102,629,56,430,84,404,74,439,72,323,73,NaN
Unnamed: 23,NaN,202011월,"5,487",69,103,"2,039",67,"1,152",111,645,60,441,89,415,80,450,77,345,81,NaN
Unnamed: 24,NaN,202012월,"3,567",44,66,"1,303",42,737,69,435,39,299,58,274,51,286,48,233,53,NaN
Unnamed: 25,NaN,202101월,"3,640",45,61,"1,372",43,709,64,458,41,288,56,281,52,294,48,238,54,NaN
Unnamed: 26,NaN,202102월,"4,213",56,80,"1,567",54,883,85,498,54,345,70,315,64,343,62,272,69,NaN
Unnamed: 27,NaN,202103월,"5,205",62,97,"1,846",59,"1,165",103,606,59,458,84,387,73,421,70,322,73,NaN
Unnamed: 28,NaN,202104월,"5,370",65,102,"1,893",62,"1,189",108,638,62,473,90,402,77,440,75,335,79,NaN
Unnamed: 29,NaN,202105월,"6,913",70,106,"2,102",66,"1,293",113,701,66,508,94,437,81,495,82,375,85,NaN

In [9]:
train = train.reset_index(drop=True)

In [11]:
train = train.drop([0,19])

In [14]:
train = train.transpose()

In [16]:
train = train.reset_index(drop=True)

In [19]:
train.to_excel('철도데이터.xls')

In [20]:
train.transpose()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
1,월별,201901월,201902월,201903월,201904월,201905월,201906월,201907월,201908월,201909월,...,202008월,202009월,202010월,202011월,202012월,202101월,202102월,202103월,202104월,202105월
2,고속철도 여객수 계,"6,929","6,942","7,188","7,247","7,733","7,294","7,290","7,656","7,379",...,"5,186","3,812","5,241","5,487","3,567","3,640","4,213","5,205","5,370","6,913"
3,KTX이용률,86,96,90,95,98,94,93,96,95,...,63,46,63,69,44,45,56,62,65,70
4,SRT이용률,113,116,113,117,119,118,117,119,117,...,92,74,96,103,66,61,80,97,102,106
5,경부선 KTX여객수,"2,822","2,857","2,906","2,951","3,148","2,943","2,929","3,088","2,931",...,"1,948","1,370","1,909","2,039","1,303","1,372","1,567","1,846","1,893","2,102"
6,경부선 KTX이용률,89,98,91,97,99,95,93,97,94,...,61,45,60,67,42,43,54,59,62,66
7,경부선 SRT여객수,"1,366","1,297","1,403","1,372","1,446","1,396","1,410","1,446","1,393",...,"1,096",846,"1,107","1,152",737,709,883,"1,165","1,189","1,293"
8,경부선 SRT이용률,121,123,121,125,127,125,126,127,124,...,99,79,102,111,69,64,85,103,108,113
9,호남선 KTX여객수,805,848,865,887,955,895,883,930,932,...,599,446,629,645,435,458,498,606,638,701
10,호남선 KTX이용률,68,79,74,79,82,79,76,79,82,...,52,41,56,60,39,41,54,59,62,66
11,호남선 SRT여객수,488,461,493,497,526,503,515,525,520,...,403,317,430,441,299,288,345,458,473,508
12,호남선 SRT이용률,95,100,96,101,103,102,101,103,105,...,78,64,84,89,58,56,70,84,90,94
13,경전선 KTX여객수,499,506,535,543,570,531,536,554,558,...,382,289,404,415,274,281,315,387,402,437
14,경전선 KTX이용률,97,107,103,109,110,106,104,107,109,...,71,55,74,80,51,52,64,73,77,81
15,전라선 KTX여객수,533,550,561,568,623,576,564,618,575,...,424,306,439,450,286,294,343,421,440,495
16,전라선 KTX이용률,93,104,97,102,108,102,99,107,102,...,73,52,72,77,48,48,62,70,75,82
17,동해선 KTX여객수,416,423,425,429,465,450,453,495,470,...,334,238,323,345,233,238,272,322,335,375
18,동해선 KTX이용률,95,107,97,102,107,106,116,114,109,...,76,56,73,81,53,54,69,73,79,85

In [35]:
train1=train.loc[0:12]

In [36]:
train2=train.loc[13:24]

In [37]:
train3=train.loc[25:29]

In [48]:
train2 = train2.reset_index(drop=True)

In [50]:
train3 = train3.reset_index(drop=True)

In [64]:
train33 = train3.rename(columns=train3.iloc[0])
train33

,202101월,"3,640",45,61,"1,372",43,709,64,458,41,288,56,281,52,294,48,238,54
0,202101월,"3,640",45,61,"1,372",43,709,64,458,41,288,56,281,52,294,48,238,54
1,202102월,"4,213",56,80,"1,567",54,883,85,498,54,345,70,315,64,343,62,272,69
2,202103월,"5,205",62,97,"1,846",59,"1,165",103,606,59,458,84,387,73,421,70,322,73
3,202104월,"5,370",65,102,"1,893",62,"1,189",108,638,62,473,90,402,77,440,75,335,79
4,202105월,"6,913",70,106,"2,102",66,"1,293",113,701,66,508,94,437,81,495,82,375,85

In [65]:
train3 = train33.rename(columns={'202101월':'월별','3,640':'총 이용객수','45':'KTX 이용률','61':'SRT 이용률'})

In [62]:
train2 = train22.rename(columns={'202001월':'월별','7,676':'총 이용객수','96':'KTX 이용률','118':'SRT 이용률'})

In [70]:
train11 = train1.rename(columns=train1.iloc[0])

In [76]:
train11 = train11.drop([0])

In [82]:
train1 = train11.rename(columns={'월별':'월별','고속철도 여객수 계':'총 이용객수','KTX이용률':'KTX 이용률','SRT이용률':'SRT 이용률'})

In [87]:
train11 = train1.rename(columns=train1.iloc[0])

In [91]:
train1=train11.rename(columns={'201901월':'월별','6,929':'총 이용객수','86':'KTX 이용률','113':'SRT 이용률'})

In [98]:
train3 = train3.drop(columns=['64','458','41','288','56','281','52','294','48','238','54'], axis=1)

In [101]:
train2 = train2.drop(columns=['3,055','95','1,449','125','937','82','540','105','589','108','612','105','494','111'], axis=1)

In [103]:
train1 = train1.drop(columns=['2,822','89','1,366','121','805','68','488','95','499','97','533','93','416','95'], axis=1)

In [113]:
train1.to_excel('2019철도.xls')

In [114]:
train2.to_excel('2020철도.xls')

In [115]:
train3.to_excel('2021철도.xls')