In [1]:
import os 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### 1.이전에 작업한 2020데이터(01~07) 가져오기

In [172]:
os.chdir(path = '../result')
curpath=os.getcwd()
curpath

flight_2020=pd.read_csv('../result/flight_2020.csv')
flight_2020

'C:\\Users\\gg664\\AppData\\Local\\Programs\\Python\\Python38\\Scripts\\시각화프로젝트\\result'

   Unnamed: 0  국내 운항편  국제 운항편  국내 여객자수  국제 여객자수
0  2020-01-01    9389    6668  1200660   153087
1  2020-02-01   12815   33006  1529064  3971511
2  2020-03-01    7852   10527  1097897   643795
3  2020-04-01    9389    6668  1200660   153087
4  2020-05-01   13564    7751  1887474   137330
5  2020-06-01   14756    7586  2161147   182053
6  2020-07-01   16524    8159  2468535  2686671

In [173]:
flight_dom_2020=[] #국내운항편
flight_intl_2020=[] #국제운항편
psger_dom_2020=[] #국내여객자수
psger_intl_2020=[]  #국외여객자수

flight_dom_2019=[]
flight_intl_2019=[]
psger_dom_2019=[]
psger_intl_2019=[]

In [174]:
for flight_dom in flight_2020['국내 운항편']:
    flight_dom_2020.append(flight_dom)

for flight_intl in flight_2020['국제 운항편']:
    flight_intl_2020.append(flight_intl)

for psger_dom in flight_2020['국내 여객자수']:
    psger_dom_2020.append(psger_dom)

for psger_intl in flight_2020['국제 여객자수']:
     psger_intl_2020.append(psger_intl)

In [175]:
#2020.01~ 2020.07 기존data 
len(flight_dom_2020)
flight_dom_2020
flight_intl_2020
psger_dom_2020
psger_intl_2020

7

[9389, 12815, 7852, 9389, 13564, 14756, 16524]

[6668, 33006, 10527, 6668, 7751, 7586, 8159]

[1200660, 1529064, 1097897, 1200660, 1887474, 2161147, 2468535]

[153087, 3971511, 643795, 153087, 137330, 182053, 2686671]

### 2. 파일별 데이터추출 (2020.08~12, 2019.08~12)

In [176]:
#2020_08 data정리
os.chdir(path = '../csvdata')
airplane_202008=pd.read_csv('../csvdata/우리나라 항공운송현황2020_8.csv')

airplane_202008.columns=['유형','국내외','201908','202008','증감률']
airplane_202008.drop(index=[0,1],inplace=True)
airplane_202008

#2020 08월 
f_dom_202008 = airplane_202008.loc[2,'202008'] #국내 운항편
f_intl_202008 = airplane_202008.loc[3,'202008'] #국제 운항편

p_dom_202008 = airplane_202008.loc[5,'202008'] #국내 여객자수
p_intl_202008 = airplane_202008.loc[7,'202008'] #국제 여객자수

#2020년취합
flight_dom_2020.append(f_dom_202008)
flight_intl_2020.append(f_intl_202008)
psger_dom_2020.append(p_dom_202008)
psger_intl_2020.append(p_intl_202008)

#2019 08월 
f_dom_201908 = airplane_202008.loc[2,'201908'] #국내 운항편
f_intl_201908 = airplane_202008.loc[3,'201908'] #국제 운항편

p_dom_201908 = airplane_202008.loc[5,'201908'] #국내 여객자수
p_intl_201908 = airplane_202008.loc[7,'201908'] #국제 여객자수

#2019년취합
flight_dom_2019.append(f_dom_201908)
flight_intl_2019.append(f_intl_201908)
psger_dom_2019.append(p_dom_201908)
psger_intl_2019.append(p_intl_201908)

       유형 국내외    201908   202008    증감률
2   운항(편)  국내     17196    18173    5.7
3   운항(편)  국제     47052     8458    -82
4   운항(편)   계     64248    26631  -58.5
5   여객(명)  국내   3010227  2826597   -6.1
6   여객(명)  국제   8140627   234218  -97.1
7   여객(명)   계  11150854  3060815  -72.6
8   화물(톤)  국내     23838    18570  -22.1
9   화물(톤)  국제    338569   237364  -29.9
10  화물(톤)   계    362407   255934  -29.4

In [177]:
#2020_09 data정리
os.chdir(path = '../csvdata')
airplane_202009=pd.read_csv('../csvdata/우리나라 항공운송현황2020_9.csv')

airplane_202009.columns=['유형','국내외','201909','202009','증감률']
airplane_202009.drop(index=[0,1],inplace=True)
airplane_202009

#2020 09월 
f_dom_202009 = airplane_202009.loc[2,'202009'] #국내 운항편
f_intl_202009 = airplane_202009.loc[3,'202009'] #국제 운항편

p_dom_202009 = airplane_202009.loc[5,'202009'] #국내 여객자수
p_intl_202009 = airplane_202009.loc[7,'202009'] #국제 여객자수

#2020년취합
flight_dom_2020.append(f_dom_202009)
flight_intl_2020.append(f_intl_202009)
psger_dom_2020.append(p_dom_202009)
psger_intl_2020.append(p_intl_202009)


#2019 09월 
f_dom_201909 = airplane_202009.loc[2,'201909'] #국내 운항편
f_intl_201909 = airplane_202009.loc[3,'201909'] #국제 운항편

p_dom_201909 = airplane_202009.loc[5,'201909'] #국내 여객자수
p_intl_201909 = airplane_202009.loc[7,'201909'] #국제 여객자수

#2019년취합
flight_dom_2019.append(f_dom_201909)
flight_intl_2019.append(f_intl_201909)
psger_dom_2019.append(p_dom_201909)
psger_intl_2019.append(p_intl_201909)

       유형 국내외   201909   202009    증감률
2   운항(편)  국내    15725    12854  -18.3
3   운항(편)  국제    42415     9111  -78.5
4   운항(편)   계    58140    21965  -62.2
5   여객(명)  국내  2560657  1847900  -27.8
6   여객(명)  국제  6803109   196791  -97.1
7   여객(명)   계  9363766  2044691  -78.2
8   화물(톤)  국내    21769    14605  -32.9
9   화물(톤)  국제   324643   255615  -21.3
10  화물(톤)   계   346412   270220    -22

In [178]:
#2020_10 data정리
os.chdir(path = '../csvdata')
airplane_202010=pd.read_csv('../csvdata/우리나라 항공운송현황2020_10.csv')

airplane_202010.columns=['유형','국내외','201910','202010','증감률']
airplane_202010.drop(index=[0,1],inplace=True)
airplane_202010

#2020 10월 
f_dom_202010 = airplane_202010.loc[2,'202010'] #국내 운항편
f_intl_202010 = airplane_202010.loc[3,'202010'] #국제 운항편

p_dom_202010 = airplane_202010.loc[5,'202010'] #국내 여객자수
p_intl_202010 = airplane_202010.loc[7,'202010'] #국제 여객자수

#2020년취합
flight_dom_2020.append(f_dom_202010)
flight_intl_2020.append(f_intl_202010)
psger_dom_2020.append(p_dom_202010)
psger_intl_2020.append(p_intl_202010)


#2019 10월 
f_dom_201910 = airplane_202010.loc[2,'201910'] #국내 운항편
f_intl_201910 = airplane_202010.loc[3,'201910'] #국제 운항편

p_dom_201910 = airplane_202010.loc[5,'201910'] #국내 여객자수
p_intl_201910 = airplane_202010.loc[7,'201910'] #국제 여객자수

#2019년취합
flight_dom_2019.append(f_dom_201910)
flight_intl_2019.append(f_intl_201910)
psger_dom_2019.append(p_dom_201910)
psger_intl_2019.append(p_intl_201910)

       유형 국내외    201910   202010    증감률
2   운항(편)  국내     16836    17958    6.7
3   운항(편)  국제     42977     9452    -78
4   운항(편)   계     59813    27410  -54.2
5   여객(명)  국내   3030454  2747342   -9.3
6   여객(명)  국제   7351625   196217  -97.3
7   여객(명)   계  10382079  2943559  -71.6
8   화물(톤)  국내     23083    17261  -25.2
9   화물(톤)  국제    351445   264589  -24.7
10  화물(톤)   계    374528   281850  -24.7

In [179]:
#2020_11 data정리
os.chdir(path = '../csvdata')
airplane_202011=pd.read_csv('../csvdata/우리나라 항공운송현황2020_11.csv')

airplane_202011.columns=['유형','국내외','201911','202011','증감률']
airplane_202011.drop(index=[0,1],inplace=True)
airplane_202011

#2020 11월 
f_dom_202011 = airplane_202011.loc[2,'202011'] #국내 운항편
f_intl_202011 = airplane_202011.loc[3,'202011'] #국제 운항편

p_dom_202011 = airplane_202011.loc[5,'202011'] #국내 여객자수
p_intl_202011 = airplane_202011.loc[7,'202011'] #국제 여객자수

#2020년취합
flight_dom_2020.append(f_dom_202011)
flight_intl_2020.append(f_intl_202011)
psger_dom_2020.append(p_dom_202011)
psger_intl_2020.append(p_intl_202011)

#2019 11월 
f_dom_201911 = airplane_202011.loc[2,'201911'] #국내 운항편
f_intl_201911 = airplane_202011.loc[3,'201911'] #국제 운항편

p_dom_201911 = airplane_202011.loc[5,'201911'] #국내 여객자수
p_intl_201911 = airplane_202011.loc[7,'201911'] #국제 여객자수

#2019년취합
flight_dom_2019.append(f_dom_201911)
flight_intl_2019.append(f_intl_201911)
psger_dom_2019.append(p_dom_201911)
psger_intl_2019.append(p_intl_201911)

       유형 국내외   201911   202011    증감률
2   운항(편)  국내    16211    18379   13.4
3   운항(편)  국제    41202     9990  -75.8
4   운항(편)   계    57413    28369  -50.6
5   여객(명)  국내  2872346  2943250    2.5
6   여객(명)  국제  6964045   195991  -97.2
7   여객(명)   계  9836391  3139241  -68.1
8   화물(톤)  국내    20503    18932   -7.7
9   화물(톤)  국제   351199   268075  -23.7
10  화물(톤)   계   371702   287007  -22.8

In [180]:
#2020_12 data정리
os.chdir(path = '../csvdata')
airplane_202012=pd.read_csv('../csvdata/우리나라 항공운송현황2020_12.csv')

airplane_202012.columns=['유형','국내외','201912','202012','증감률']
airplane_202012.drop(index=[0,1],inplace=True)
airplane_202012

#2020 12월 
f_dom_202012 = airplane_202012.loc[2,'202012'] #국내 운항편
f_intl_202012 = airplane_202012.loc[3,'202012'] #국제 운항편

p_dom_202012 = airplane_202012.loc[5,'202012'] #국내 여객자수
p_intl_202012 = airplane_202012.loc[7,'202012'] #국제 여객자수

#2020년취합
flight_dom_2020.append(f_dom_202012)
flight_intl_2020.append(f_intl_202012)
psger_dom_2020.append(p_dom_202012)
psger_intl_2020.append(p_intl_202012)

#2019 12월 
f_dom_201912 = airplane_202012.loc[2,'201912'] #국내 운항편
f_intl_201912 = airplane_202012.loc[3,'201912'] #국제 운항편

p_dom_201912 = airplane_202012.loc[5,'201912'] #국내 여객자수
p_intl_201912 = airplane_202012.loc[7,'201912'] #국제 여객자수

#2019년취합
flight_dom_2019.append(f_dom_201912)
flight_intl_2019.append(f_intl_201912)
psger_dom_2019.append(p_dom_201912)
psger_intl_2019.append(p_intl_201912)

       유형 국내외    201912   202012    증감률
2   운항(편)  국내     16468    13639  -17.2
3   운항(편)  국제     44181    10489  -76.3
4   운항(편)   계     60649    24128  -60.2
5   여객(명)  국내   2763642  1714754    -38
6   여객(명)  국제   7600593   229286    -97
7   여객(명)   계  10364235  1944040  -81.2
8   화물(톤)  국내     21852    13750  -37.1
9   화물(톤)  국제    350975   277782  -20.9
10  화물(톤)   계    372827   291532  -21.8

In [181]:
len(flight_dom_2019)
flight_dom_2019
flight_intl_2019
psger_dom_2019
psger_intl_2019

5

['17196', '15725', '16836', '16211', '16468']

['47052', '42415', '42977', '41202', '44181']

['3010227', '2560657', '3030454', '2872346', '2763642']

['11150854', '9363766', '10382079', '9836391', '10364235']

In [182]:
len(flight_dom_2020)
flight_intl_2020
psger_dom_2020
psger_intl_2020

12

[6668,
 33006,
 10527,
 6668,
 7751,
 7586,
 8159,
 '8458',
 '9111',
 '9452',
 '9990',
 '10489']

[1200660,
 1529064,
 1097897,
 1200660,
 1887474,
 2161147,
 2468535,
 '2826597',
 '1847900',
 '2747342',
 '2943250',
 '1714754']

[153087,
 3971511,
 643795,
 153087,
 137330,
 182053,
 2686671,
 '3060815',
 '2044691',
 '2943559',
 '3139241',
 '1944040']

In [183]:
#2020 result결과저장 (01~07)
dates2020=pd.date_range('2020-01-01', periods = 12, freq = 'MS')
flight={'국내 운항편':flight_dom_2020,'국제 운항편':flight_intl_2020,'국내 여객자수':psger_dom_2020,'국제 여객자수':psger_intl_2020}
flight_2020 = pd.DataFrame(flight,index=dates2020)
flight_2020

flight_2020.to_csv("../result/flight_2020.csv",encoding="utf-8-sig")

           국내 운항편 국제 운항편  국내 여객자수  국제 여객자수
2020-01-01   9389   6668  1200660   153087
2020-02-01  12815  33006  1529064  3971511
2020-03-01   7852  10527  1097897   643795
2020-04-01   9389   6668  1200660   153087
2020-05-01  13564   7751  1887474   137330
2020-06-01  14756   7586  2161147   182053
2020-07-01  16524   8159  2468535  2686671
2020-08-01  18173   8458  2826597  3060815
2020-09-01  12854   9111  1847900  2044691
2020-10-01  17958   9452  2747342  2943559
2020-11-01  18379   9990  2943250  3139241
2020-12-01  13639  10489  1714754  1944040

In [184]:
#2019 result결과저장 (08~05)
dates2019 =pd.date_range('2019-08-01', periods = 5, freq = 'MS')
flight={'국내 운항편':flight_dom_2019,'국제 운항편':flight_intl_2019,'국내 여객자수':psger_dom_2019,'국제 여객자수':psger_intl_2019}
flight_2019 = pd.DataFrame(flight,index=dates2019)
flight_2019

flight_2019.to_csv("../result/flight_2019.csv",encoding="utf-8-sig")

           국내 운항편 국제 운항편  국내 여객자수   국제 여객자수
2019-08-01  17196  47052  3010227  11150854
2019-09-01  15725  42415  2560657   9363766
2019-10-01  16836  42977  3030454  10382079
2019-11-01  16211  41202  2872346   9836391
2019-12-01  16468  44181  2763642  10364235