In [240]:
import os 
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### 1.csv변환

In [93]:
curpath=os.getcwd()
curpath

'C:\\Users\\gg664\\AppData\\Local\\Programs\\Python\\Python38\\Scripts\\시각화프로젝트\\rawdata'

In [94]:
#data 폴더로 작업경로를 변경합니다. (상대경로 사용)
os.chdir(path = '../rawdata')
curpath

'C:\\Users\\gg664\\AppData\\Local\\Programs\\Python\\Python38\\Scripts\\시각화프로젝트\\rawdata'

In [92]:
os.listdir()

['우리나라 항공운송현황2019년합산.csv',
 '우리나라 항공운송현황2019년합산.xlsx',
 '우리나라 항공운송현황2020_10.csv',
 '우리나라 항공운송현황2020_10.xlsx',
 '우리나라 항공운송현황2020_11.csv',
 '우리나라 항공운송현황2020_11.xlsx',
 '우리나라 항공운송현황2020_12.csv',
 '우리나라 항공운송현황2020_12.xlsx',
 '우리나라 항공운송현황2020_8.csv',
 '우리나라 항공운송현황2020_8.xlsx',
 '우리나라 항공운송현황2020_9.csv',
 '우리나라 항공운송현황2020_9.xlsx',
 '우리나라 항공운송현황2021_1.csv',
 '우리나라 항공운송현황2021_1.xlsx',
 '우리나라 항공운송현황2021_2.csv',
 '우리나라 항공운송현황2021_2.xlsx',
 '우리나라 항공운송현황2021_3.csv',
 '우리나라 항공운송현황2021_3.xlsx',
 '우리나라 항공운송현황2021_4.csv',
 '우리나라 항공운송현황2021_4.xlsx',
 '우리나라 항공운송현황2021_5.csv',
 '우리나라 항공운송현황2021_5.xlsx',
 '우리나라 항공운송현황2021_6.csv',
 '우리나라 항공운송현황2021_6.xlsx',
 '우리나라 항공운송현황2021_7.csv',
 '우리나라 항공운송현황2021_7.xlsx']

In [103]:
os.chdir(path = '../csvdata')
curpath

'C:\\Users\\gg664\\AppData\\Local\\Programs\\Python\\Python38\\Scripts\\시각화프로젝트\\rawdata'

In [88]:
xlsx_list = os.listdir()

for xlsx in xlsx_list:
    filename=xlsx.split(".")[0]+".csv
    x=pd.read_excel(xlsx)
    x.to_csv(filename, index=False, encoding="utf-8-sig")

c:\users\gg664\appdata\local\programs\python\python38\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

### 2. 파일별 데이터추출

### 2-1. 2021년 (01~07)

In [278]:
#2021 
flight_dom_2021=[] #국내운항편
flight_intl_2021=[] #국제운항편
psger_dom_2021 = [] #국내여객자수
psger_intl_2021 = [] #국외여객자수

#2020
flight_dom_2020=[] #국내운항편
flight_intl_2020=[] #국제운항편
psger_dom_2020 = [] #국내여객자수
psger_intl_2020 = [] #국외여객자수

In [279]:
#2021_01 data정리
os.chdir(path = '../csvdata')
airplane_202101=pd.read_csv('../csvdata/우리나라 항공운송현황2021_1.csv')

airplane_202101.columns=['유형','국내외','202001','202101','증감률']
airplane_202101.drop(index=[0,1],inplace=True)

airplane_202101

#2021 1월 
f_dom_202101 = airplane_202101.loc[2,'202101'] #국내 운항편
f_intl_202101 = airplane_202101.loc[3,'202101'] #국제 운항편

p_dom_202101 = airplane_202101.loc[5,'202101'] #국내 여객자수
p_intl_202101 = airplane_202101.loc[6,'202101'] #국제 여객자수

#2021년 취합
flight_dom_2021.append(f_dom_202101)
flight_intl_2021.append(f_intl_202101)
psger_dom_2021.append(p_dom_202101)
psger_intl_2021.append(p_intl_202101)

#2020 1월 
f_dom_202001 = airplane_202101.loc[2,'202001'] #국내 운항편
f_intl_202001 = airplane_202101.loc[3,'202001'] #국제 운항편

p_dom_202001 = airplane_202101.loc[5,'202001'] #국내 여객자수
p_intl_202001 = airplane_202101.loc[6,'202001'] #국제 여객자수

#2020년 취합
flight_dom_2020.append(f_dom_202001)
flight_intl_2020.append(f_intl_202001)
psger_dom_2020.append(p_dom_202001)
psger_intl_2020.append(p_intl_202001)

       유형 국내외   202001   202101    증감률
2   운항(편)  국내     9389    19213  104.6
3   운항(편)  국제     6668    11012   65.1
4   운항(편)   계    16057    30225   88.2
5   여객(명)  국내  1200660  2975030  147.8
6   여객(명)  국제   153087   178129   16.4
7   여객(명)   계  1353747  3153159  132.9
8   화물(톤)  국내    10142    17010   67.7
9   화물(톤)  국제   220720   284825     29
10  화물(톤)   계   230862   301835   30.7

In [280]:
#2021_02 data정리
os.chdir(path = '../csvdata')
airplane_202102=pd.read_csv('../csvdata/우리나라 항공운송현황2021_2.csv')

airplane_202102.columns=['유형','국내외','202002','202102','증감률']
airplane_202102.drop(index=[0,1],inplace=True)
airplane_202102


#2021 2월 
f_dom_202102 = airplane_202102.loc[2,'202102'] #국내 운항편
f_intl_202102 = airplane_202102.loc[3,'202102'] #국제 운항편

p_dom_202102 = airplane_202102.loc[5,'202102'] #국내 여객자수
p_intl_202102 = airplane_202102.loc[6,'202102'] #국제 여객자수

#2021년 취합
flight_dom_2021.append(f_dom_202102)
flight_intl_2021.append(f_intl_202102)
psger_dom_2021.append(p_dom_202102)
psger_intl_2021.append(p_intl_202102)

#2020 2월 
f_dom_202002 = airplane_202102.loc[2,'202002'] #국내 운항편
f_intl_202002 = airplane_202102.loc[3,'202002'] #국제 운항편

p_dom_202002 = airplane_202102.loc[5,'202002'] #국내 여객자수
p_intl_202002 = airplane_202102.loc[6,'202002'] #국제 여객자수

#2020년 취합
flight_dom_2020.append(f_dom_202002)
flight_intl_2020.append(f_intl_202002)
psger_dom_2020.append(p_dom_202002)
psger_intl_2020.append(p_intl_202002)

       유형 국내외   202002   202102    증감률
2   운항(편)  국내    12815    15029   17.3
3   운항(편)  국제    33006     9037  -72.6
4   운항(편)   계    45821    24066  -47.5
5   여객(명)  국내  1529064  2301365   50.5
6   여객(명)  국제  3971511   165890  -95.8
7   여객(명)   계  5500575  2467255  -55.1
8   화물(톤)  국내    13964    15866   13.6
9   화물(톤)  국제   286956   242173  -15.6
10  화물(톤)   계   300920   258039  -14.2

In [281]:
#2021_03 data정리
os.chdir(path = '../csvdata')
airplane_202103=pd.read_csv('../csvdata/우리나라 항공운송현황2021_3.csv')

airplane_202103.columns=['유형','국내외','202003','202103','증감률']
airplane_202103.drop(index=[0,1],inplace=True)
airplane_202103

#2021 3월 
f_dom_202103 = airplane_202103.loc[2,'202103'] #국내 운항편
f_intl_202103 = airplane_202103.loc[3,'202103'] #국제 운항편

p_dom_202103 = airplane_202103.loc[5,'202103'] #국내 여객자수
p_intl_202103 = airplane_202103.loc[6,'202103'] #국제 여객자수

#2021년취합
flight_dom_2021.append(f_dom_202103)
flight_intl_2021.append(f_intl_202103)
psger_dom_2021.append(p_dom_202103)
psger_intl_2021.append(p_intl_202103)

#2020 3월 
f_dom_202003 = airplane_202103.loc[2,'202003'] #국내 운항편
f_intl_202003 = airplane_202103.loc[3,'202003'] #국제 운항편

p_dom_202003 = airplane_202103.loc[5,'202003'] #국내 여객자수
p_intl_202003 = airplane_202103.loc[6,'202003'] #국제 여객자수

#2020년취합
flight_dom_2020.append(f_dom_202003)
flight_intl_2020.append(f_intl_202003)
psger_dom_2020.append(p_dom_202003)
psger_intl_2020.append(p_intl_202003)

       유형 국내외   202003   202103    증감률
2   운항(편)  국내     7852    17166  118.6
3   운항(편)  국제    10527    11172    6.1
4   운항(편)   계    18379    28338   54.2
5   여객(명)  국내  1097897  2590599    136
6   여객(명)  국제   643795   184211  -71.4
7   여객(명)   계  1741692  2774810   59.3
8   화물(톤)  국내    10617    16383   54.3
9   화물(톤)  국제   252142   293189   16.3
10  화물(톤)   계   262759   309572   17.8

In [282]:
#2021_04 data정리
os.chdir(path = '../csvdata')
airplane_202104=pd.read_csv('../csvdata/우리나라 항공운송현황2021_4.csv')

airplane_202104.columns=['유형','국내외','202004','202104','증감률']
airplane_202104.drop(index=[0,1],inplace=True)
airplane_202104

#2021 4월 
f_dom_202104 = airplane_202104.loc[2,'202104'] #국내 운항편
f_intl_202104 = airplane_202104.loc[3,'202104'] #국제 운항편

p_dom_202104 = airplane_202104.loc[5,'202104'] #국내 여객자수
p_intl_202104 = airplane_202104.loc[6,'202104'] #국제 여객자수

#2021년취합
flight_dom_2021.append(f_dom_202104)
flight_intl_2021.append(f_intl_202104)
psger_dom_2021.append(p_dom_202104)
psger_intl_2021.append(p_intl_202104)

#2020 4월 
f_dom_202004 = airplane_202104.loc[2,'202004'] #국내 운항편
f_intl_202004 = airplane_202104.loc[3,'202004'] #국제 운항편

p_dom_202004 = airplane_202104.loc[5,'202004'] #국내 여객자수
p_intl_202004 = airplane_202104.loc[6,'202004'] #국제 여객자수

#2020년취합
flight_dom_2020.append(f_dom_202004)
flight_intl_2020.append(f_intl_202004)
psger_dom_2020.append(p_dom_202004)
psger_intl_2020.append(p_intl_202004)

       유형 국내외   202004   202104    증감률
2   운항(편)  국내     9389    19213  104.6
3   운항(편)  국제     6668    11012   65.1
4   운항(편)   계    16057    30225   88.2
5   여객(명)  국내  1200660  2975030  147.8
6   여객(명)  국제   153087   178129   16.4
7   여객(명)   계  1353747  3153159  132.9
8   화물(톤)  국내    10142    17010   67.7
9   화물(톤)  국제   220720   284825     29
10  화물(톤)   계   230862   301835   30.7

In [283]:
#2021_05 data정리
os.chdir(path = '../csvdata')
airplane_202105=pd.read_csv('../csvdata/우리나라 항공운송현황2021_5.csv')

airplane_202105.columns=['유형','국내외','202005','202105','증감률']
airplane_202105.drop(index=[0,1],inplace=True)
airplane_202105

#2021 5월 
f_dom_202105 = airplane_202105.loc[2,'202105'] #국내 운항편
f_intl_202105 = airplane_202105.loc[3,'202105'] #국제 운항편

p_dom_202105 = airplane_202105.loc[5,'202105'] #국내 여객자수
p_intl_202105 = airplane_202105.loc[6,'202105'] #국제 여객자수

#2021년취합
flight_dom_2021.append(f_dom_202105)
flight_intl_2021.append(f_intl_202105)
psger_dom_2021.append(p_dom_202105)
psger_intl_2021.append(p_intl_202105)

#2020 5월 
f_dom_202005 = airplane_202105.loc[2,'202005'] #국내 운항편
f_intl_202005 = airplane_202105.loc[3,'202005'] #국제 운항편

p_dom_202005 = airplane_202105.loc[5,'202005'] #국내 여객자수
p_intl_202005 = airplane_202105.loc[6,'202005'] #국제 여객자수

#2020년취합
flight_dom_2020.append(f_dom_202005)
flight_intl_2020.append(f_intl_202005)
psger_dom_2020.append(p_dom_202005)
psger_intl_2020.append(p_intl_202005)

       유형 국내외   202005   202105   증감률
2   운항(편)  국내    13564    19821  46.1
3   운항(편)  국제     7751    10994  41.8
4   운항(편)   계    21315    30815  44.6
5   여객(명)  국내  1887474  3115255    65
6   여객(명)  국제   137330   206462  50.3
7   여객(명)   계  2024804  3321717  64.1
8   화물(톤)  국내    12093    16837  39.2
9   화물(톤)  국제   223438   287942  28.9
10  화물(톤)   계   235531   304779  29.4

In [284]:
#2021_06 data정리
os.chdir(path = '../csvdata')
airplane_202106=pd.read_csv('../csvdata/우리나라 항공운송현황2021_6.csv')

airplane_202106.columns=['유형','국내외','202006','202106','증감률']
airplane_202106.drop(index=[0,1],inplace=True)
airplane_202106

#2021 6월 
f_dom_202106 = airplane_202106.loc[2,'202106'] #국내 운항편
f_intl_202106 = airplane_202106.loc[3,'202106'] #국제 운항편

p_dom_202106 = airplane_202106.loc[5,'202106'] #국내 여객자수
p_intl_202106 = airplane_202106.loc[6,'202106'] #국제 여객자수

#2021년취합
flight_dom_2021.append(f_dom_202106)
flight_intl_2021.append(f_intl_202106)
psger_dom_2021.append(p_dom_202106)
psger_intl_2021.append(p_intl_202106)

#2020 6월 
f_dom_202006 = airplane_202106.loc[2,'202006'] #국내 운항편
f_intl_202006 = airplane_202106.loc[3,'202006'] #국제 운항편

p_dom_202006 = airplane_202106.loc[5,'202006'] #국내 여객자수
p_intl_202006 = airplane_202106.loc[6,'202006'] #국제 여객자수

#2020년취합
flight_dom_2020.append(f_dom_202006)
flight_intl_2020.append(f_intl_202006)
psger_dom_2020.append(p_dom_202006)
psger_intl_2020.append(p_intl_202006)

       유형 국내외   202006   202106   증감률
2   운항(편)  국내    14756    18660  26.5
3   운항(편)  국제     7586    10845    43
4   운항(편)   계    22342    29505  32.1
5   여객(명)  국내  2161147  3037489  40.5
6   여객(명)  국제   182053   246697  35.5
7   여객(명)   계  2343200  3284186  40.2
8   화물(톤)  국내    12998    16919  30.2
9   화물(톤)  국제   219341   282981    29
10  화물(톤)   계   232339   299900  29.1

In [285]:
#2021_07 data정리
os.chdir(path = '../csvdata')
airplane_202107=pd.read_csv('../csvdata/우리나라 항공운송현황2021_7.csv')

airplane_202107.columns=['유형','국내외','202007','202107','증감률']
airplane_202107.drop(index=[0,1],inplace=True)
airplane_202107

#2021 7월 
f_dom_202107 = airplane_202107.loc[2,'202107'] #국내 운항편
f_intl_202107 = airplane_202107.loc[3,'202107'] #국제 운항편

p_dom_202107 = airplane_202107.loc[5,'202107'] #국내 여객자수
p_intl_202107 = airplane_202107.loc[7,'202107'] #국제 여객자수

#2021년취합
flight_dom_2021.append(f_dom_202107)
flight_intl_2021.append(f_intl_202107)
psger_dom_2021.append(p_dom_202107)
psger_intl_2021.append(p_intl_202107)

#2020 7월 
f_dom_202007 = airplane_202107.loc[2,'202007'] #국내 운항편
f_intl_202007 = airplane_202107.loc[3,'202007'] #국제 운항편

p_dom_202007 = airplane_202107.loc[5,'202007'] #국내 여객자수
p_intl_202007 = airplane_202107.loc[7,'202007'] #국제 여객자수

#2020년취합
flight_dom_2020.append(f_dom_202007)
flight_intl_2020.append(f_intl_202007)
psger_dom_2020.append(p_dom_202007)
psger_intl_2020.append(p_intl_202007)

       유형 국내외   202007   202107   증감률
2   운항(편)  국내    16524    19380  17.3
3   운항(편)  국제     8159    11021  35.1
4   운항(편)   계    24683    30401  23.2
5   여객(명)  국내  2468535  2926947  18.6
6   여객(명)  국제   218136   291269  33.5
7   여객(명)   계  2686671  3218216  19.8
8   화물(톤)  국내    15157    16945  11.8
9   화물(톤)  국제   240680   293489  21.9
10  화물(톤)   계   255837   310434  21.3

In [291]:
#2021 
flight_dom_2021 #국내운항편
flight_intl_2021 #국제운항편
psger_dom_2021  #국내여객자수
psger_intl_2021  #국외여객자수

dates2021=pd.date_range('2021-01-01', periods = 7, freq = 'MS')
flight={'국내 운항편':flight_dom_2021,'국제 운항편':flight_intl_2021,'국내 여객자수':psger_dom_2021,'국제 여객자수':psger_intl_2021}
flight_2021 = pd.DataFrame(flight,index=dates2021)
flight_2021

['19213', '15029', '17166', '19213', '19821', '18660', '19380']

['11012', '9037', '11172', '11012', '10994', '10845', '11021']

['2975030', '2301365', '2590599', '2975030', '3115255', '3037489', '2926947']

['178129', '165890', '184211', '178129', '206462', '246697', '3218216']

           국내 운항편 국제 운항편  국내 여객자수  국제 여객자수
2021-01-01  19213  11012  2975030   178129
2021-02-01  15029   9037  2301365   165890
2021-03-01  17166  11172  2590599   184211
2021-04-01  19213  11012  2975030   178129
2021-05-01  19821  10994  3115255   206462
2021-06-01  18660  10845  3037489   246697
2021-07-01  19380  11021  2926947  3218216

### 2-2. 2020년 (08~12)

In [290]:
#2020
flight_dom_2020 #국내운항편
flight_intl_2020 #국제운항편
psger_dom_2020 #국내여객자수
psger_intl_2020  #국외여객자수

['9389', '12815', '7852', '9389', '13564', '14756', '16524']

['6668', '33006', '10527', '6668', '7751', '7586', '8159']

['1200660', '1529064', '1097897', '1200660', '1887474', '2161147', '2468535']

['153087', '3971511', '643795', '153087', '137330', '182053', '2686671']

In [ ]:
#시계열데이터(index)
dates2019=pd.date_range('2019-01-01', periods = 12, freq = 'MS')
dates2020=pd.date_range('2020-01-01', periods = 12, freq = 'MS')
dates2021=pd.date_range('2021-01-01', periods = 7, freq = 'MS')